extends ../layout/layout
block content
    h1 #{title}
    form(method='POST',  action="/users/register")
        .row
            .col-md-6
                .form-group
                    label First Name:
                    input.form-control(name="firstName", type="text")
                .form-group
                    label Last Name:
                    input.form-control(name="lastName", type="text")
                .form-group
                    label Email:
                    input.form-control(name="email", type="email")
            .col-md-6
                .form-group
                    label Userame:
                    input.form-control(name="username", type="text")
                .form-group
                    label Password:
                    input.form-control(name="password", type="password")
                .form-group
                    label Confirm Password:
                    input.form-control(name="password2", type="password")
        .row
            .col-md-12
                .form-group
                    input.btn.btn-primary(type="submit", value="Registration")